<h1>Show Mission</h1>

<ul>

  <li>
    <strong>Txid:</strong>
    <%= @mission.txid %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.mission_path(@conn, :edit, @mission) %></span>
<span><%= link "Back", to: Routes.mission_path(@conn, :index) %></span>
