<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MNode</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/mnode/css/app.css") %>"/>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/mnode/js/app.js") %>"></script>
  </body>
  <footer>
    <div style="position: fixed; bottom: 0; right: 0; z-index: -1; ">
      <small>help: metanet@yeah.net</small>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
  </footer>
</html>
