<h1>Show Document</h1>

<ul>

  <li>
    <strong>Path:</strong>
    <%= @document.path %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @document.type %>
  </li>

  <li>
    <strong>Filename:</strong>
    <%= @document.filename %>
  </li>

  <li>
    <strong>Dir:</strong>
    <%= @document.dir %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.document_path(@conn, :edit, @document) %></span>
<span><%= link "Back", to: Routes.document_path(@conn, :index) %></span>
